{%extends 'boulanger/basic_template.html' %}
{% load crispy_forms_tags %}

{%block content%}
<div class="col-md-8">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="shadow p-4 mb-5 bg-body rounded col-md-8">
            <center>
                </br>
                <form action="" , method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <main class="form-signin">
                            <form>
                                <img class="mb-3" src="/static/imgs/bootstrap-logo.svg" alt="" width="72" height="57">
                                <h3 class="h3 mb-3 fw-normal">Please sign in</h3>

                                <div class="form-floating">
                                    <input class="form-control mb-2" name="username"
                                        placeholder="name@example.com">
                                    <label for="floatingInput">Username</label>
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control mb-2" name="password"
                                        placeholder="Password">
                                    <label for="floatingPassword">Password</label>
                                </div>

                                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                            </form>
                        </main>
                    </fieldset>
                </form>
                <div class='border-top pt-3'>
                    <small class="text-muted">
                        Need an account <a class="ml-2" href="{% url 'register' %}"> Register </a>
                    </small>
                </div>

            </center>
        </div>
    </div>
</div>
{%endblock%}
