{%extends 'boulanger/base_template.html' %}
{% load crispy_forms_tags %}

{%block content%}
<div class="row">
    <div class="col-sm-2"></div>
<div class="shadow p-4 mb-5 bg-body rounded col-md-8">
    <center>

        <h1> Ajouter une  matière prèmiere   </h1>
    </br>
    {% if submitted %}
        <h1>La matière a ètè ajouter avec succés...!</h1>
    {% else %}
    <form action="", method="POST">
        {% csrf_token %}
        {{ form|crispy}}

          <div class="d-flex justify-content-end mb-2">
            <button type="submit" class="btn btn-primary mb-3" value="">Soumettre</button>
          </div>
    </form>
    {% endif %}
    </center>
</div>
</div> 
{%endblock%}

