{%extends 'boulanger/basic_template.html' %}

{%block content%}

<!-- Masthead-->
<div class="col-md-8">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">Ebook
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Les livres numériques
                            </div>
                        </div>
                        <div class="col-auto">
                            <a href="#">
                                <i class="fas fa-book-open fa-2x text-primary"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">Multimedia
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Les videos tutoriels
                            </div>
                        </div>
                        <div class="col-auto">
                            <a href="#">
                                <i class="fas fa-film fa-2x text-primary"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">Audio
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Les livres audios
                            </div>
                        </div>
                        <div class="col-auto">
                            <a href="#">
                                <i class="fas fa-file-audio fa-2x text-primary"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">Archive
                            </div>
                            <div class=" mb-0 font-weight-bold text-gray-800">Les memoires de recherches
                            </div>
                        </div>
                        <div class="col-auto">
                            <a href="#">
                                <i class="fas fa-archive fa-2x text-primary"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}