{%extends 'boulanger/base_template.html' %}
{% load crispy_forms_tags %}

{%block content%}
<div class="container">
    <h4>Listes des achats de matière première</h4>
    <a class="btn btn-primary sm" href="{% url 'add-product' %}">
        Ajouter un produit
    </a>
    <div class="row mt-4">
        <div class="col-md-8">
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  {% for product in products %}
                  <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

        </div>
    </div>
</div>
{%endblock%}

